# Diretórios e arquivos específicos do Python

__pycache__/

*.py[cod]
*$py.class
*.so

.Python

develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
upx-5.0.1-win64/
tests_in_dev/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ambiente virtual
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Poetry
.pytest_cache/
.coverage

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env/
.env.local
.env.development
.env.test
.env.production

# Diretórios específicos deste projeto (opcional)
persistent_profile_main/
logs/
!logs/.gitkeep

# Arquivos de log
*.log

# Pastas e Arquivos específicos:

/assets/models
/assets/temp_docx_exports
/assets/temp_admin_exports
/assets_demo/*
/ml_engine
/tests_in_dev
/tests_scripts
/notebooks

/pyinstaller_files
/build
/dist

credentials_fb.json
api_key.txt

/admin_py/admin_python_files_consolidated.txt
python_files_consolidated*.txt
admin_python_files_consolidated.txt
python_files_consolidated.txt
run_pyinstaller.txt
pyproject.txt

TODO.md
/docs/Prompts_Assistant.md
/docs/base_prompts_descontinuados.txt
/docs/*docx
/docs/PrintScreens Telas.pdf
/docs/PrintScreens Telas/prints_to_video

extract_pyfiles.py
extract_pyfiles2.py
teste_int.py
teste_int.ipynb

lista_arqs_repo.txt
Dockerfile_0.txt
Dockerfile.txt
docker-compose.txt

# Outros:
*.xlsx
*.bat
*.db
*.tmp
*.exe

poppler-22.04.0/
modelos_ocr/
admin_data/
uploads_temp/
context_exports/
Deploy_PF/

*dict_prompts.json*

.gitignore
